html {
  font-family: "Trebuchet MS", Verdana, Arial, Monospace;
}

body {
  margin: 0px;
}

img {
  border: 0;
}

#page {
  margin: 0px auto;
  min-width: 600px;
  max-width: 1000px;
}

#menu {
  width: 100%;
  border-bottom: 5px solid #998899;
/*
  border-left: 5px solid #998899;
  border-right: 5px solid #998899;
*/
}
#menu ul {
  margin: 0px;
  padding: 0px;
  text-transform: lowercase;
  font-weight: bold;
}
#menu li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
#menu a {
  text-decoration: none;
}

#body {
  padding: 15px;
}

#body h1 {
  font-size: 150%;
}

#body input {
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
}

#body table {
  min-width: 500px;
}
#body table a {
  text-decoration: none;
}
#body th {
  border-bottom: 2px solid #998899;
}
#body td {
  border-bottom: 1px solid #998899;
}
